<div style="width: 400px; margin: auto;">
    
      <h4>Nueva Funcion de Cine</h4>
      <form>
        <div class="form-group">
          <label for="pelicula">Pelicula</label>
          <br>
          <select name="pelicula" [(ngModel)]="funcionNueva.pelicula" >
            <option [ngValue]="item" *ngFor="let item of peliculas">{{item.nombre}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="cine">Cine</label>
          <br>
          <select name="cine" [(ngModel)]="cineSeleccionado" (click)="cargarSedesPorCine()">
            <option [ngValue]="item" *ngFor="let item of cines">{{item.nombre}}</option>
          </select>
        </div>  
        <div class="form-group">  
          <label for="sede">Sede</label>
          <br>
          <select name="sede" [(ngModel)]="sedeSeleccionado" (click)="cargarSalasPorSede()">
            <option [ngValue]="item" *ngFor="let item of sedes">{{item.nombre}}</option>
          </select>
        </div>    
        <div class="form-group">
            <label for="description">Sala</label>
            <br>
           <select name="sala" [(ngModel)]="funcionNueva.sala">
            <option [ngValue]="item" *ngFor="let item of salas">{{item.nombre}}</option>
           </select>
        </div>
        <div class="form-group">
            <label for="inicio">Hora Inicio</label>
            <input
              type="text"
              class="form-control"
              id="inicio"
              [(ngModel)]="funcionNueva.horaInicio"
              name="inicio"
            />
          </div>
         <div class="form-group">
            <label for="fin">Hora Fin</label>
            <input
              type="text"
              class="form-control"
              id="fin"
              [(ngModel)]="funcionNueva.horaFin"
              name="fin"
            />
          </div>
          <div class="form-group">
            <label for="precio">Precio</label>
            <input
              type="text"
              class="form-control"
              id="precio"
              [(ngModel)]="funcionNueva.precio"
              name="precio"
            />
          </div>
      </form>
      <br>
      <div class="form-group" align = "right">
      <button 
        type="submit"
        class="btn btn-lg btn-outline-secondary"
        (click)="crearFuncion()"
      >
        Crear
      </button>
      &nbsp; 
      <button
        type="submit"
        class="btn btn-lg btn-danger"
        (click)="regresar()"
      >
        Regresar
      </button>
      </div>
      <p>{{ mensaje }}</p>
    <div *ngIf="!funcionNueva">
      <br />
      <p>Error cargando pagina de creación!!!</p>
    </div>
</div>  
   
  
