<div class="cart-area d-n">
    <a routerLink="/funcionesWeb/carrito-detalle">
        <div class="total">{{ total | currency: 'USD' }}
            <span>{{ cantidad }}</span> 
        </div> 
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    </a>
</div>
