<div  class="main-content" style="width: 400px; margin: auto;">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
    <div *ngIf="funcionActual" class="edit-form">
      <h4>Funcion de Cine</h4>
      <form>    
       
        <div class="form-group">
          <label for="generoPelicula">Genero</label>
          <input
            type="text"
            class="form-control"
            id="generoPelicula"
            [(ngModel)]="funcionActual.pelicula.genero"
            name="generoPelicula"
            readonly
          />
        </div>
        <div class="form-group">
          <label for="pelicula">Pelicula</label>
          <br>
          <select name="pelicula" [(ngModel)]="funcionActual.pelicula" [compareWith]="compararNombresPelicula" >
            <option [ngValue]="item" *ngFor="let item of peliculas">{{item.nombre}}</option>
          </select>
        </div>
        <div class="form-group">
            <label for="duracionPelicula">Duracion</label>
            <input
              type="text"
              class="form-control"
              id="duracionPelicula"
              [(ngModel)]="funcionActual.pelicula.duracion"
              name="duracionPelicula"
              readonly
            />
          </div>
          <div class="form-group">
            <label for="description">Sala</label>
            <input
              type="text"
              class="form-control"
              id="sala"
              [(ngModel)]="funcionActual.sala.nombre"
              name="sala"
              readonly
            />
          </div>
          <div class="form-group">
            <label for="sede">Sede</label>
            <input
              type="text"
              class="form-control"
              id="sede"
              [(ngModel)]="funcionActual.sala.sede.nombre"
              name="sede"
              readonly
            />
          </div>
          <div class="form-group">
            <label for="direccion">Direccion</label>
            <input
              type="text"
              class="form-control"
              id="direccion"
              [(ngModel)]="funcionActual.sala.sede.direccion"
              name="direccion"
              readonly
            />
          </div>
          <div class="form-group">
            <label for="cine">Cine</label>
            <input
              type="text"
              class="form-control"
              id="cine"
              [(ngModel)]="funcionActual.sala.sede.cine.nombre"
              name="cine"
              readonly
            />
          </div>
          <div class="form-group">
            <label for="inicio">Hora Inicio</label>
            <input
              type="text"
              class="form-control"
              id="inicio"
              [(ngModel)]="funcionActual.horaInicio"
              name="inicio"
            />
          </div>
          <div class="form-group">
            <label for="fin">Hora Fin</label>
            <input
              type="text"
              class="form-control"
              id="fin"
              [(ngModel)]="funcionActual.horaFin"
              name="fin"
            />
          </div>
          <div class="form-group">
            <label for="precio">Precio</label>
            <input
              type="text"
              class="form-control"
              id="precio"
              [(ngModel)]="funcionActual.precio"
              name="precio"
            />
          </div>
      </form>

      <div class="form-group">
      <button
        type="submit"
        class="badge badge-success"
        (click)="actualizarFuncion()"
      >
        Actualizar
      </button>
      <button
        type="submit"
        class="badge badge-success"
        (click)="regresar()"
      >
        Regresar
      </button>
      </div>
      <p>{{ mensaje }}</p>
    </div>
  </div>
</div>
    <div *ngIf="!funcionActual">
      <br />
      <p>Accediendo a la Funcion de Cine !!!</p>
    </div>
  </div>
