<div class="form-header">

    <input #myInput type="text" 
           placeholder="Buscar funciones por pelicula ..."
           class="au-input au-input-xl"
           (keyup.enter)="buscarPorNombrePelicula(myInput.value)"  />

    <button (click)="buscarPorNombrePelicula(myInput.value)" class="au-btn-submit">
        Buscar
    </button>
     
</div>
