<div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">

            <li *ngFor="let cine of cines">

                <a  [routerLink]="['/funcionesWeb/funciones/cine/', cine.idCine]" routerLinkActive="active-link">
                    {{ cine.nombre }}
                </a>
                
            </li>
        
        </ul>
    </nav>  
</div>
