
<div class="container-xxl">
    <h1 align = "center" class="h6">Listado de Funciones</h1> 
    <table class="table table-hover" border="1" align="center">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Inicio</th>
                <th>Fin</th>
                <th>Pelicula</th>
                <th>Cine</th>
                <th>Sala</th>
                <th>Sede</th>
                <th>Precio</th>
                <th>Accion</th>
            </tr>
        </thead>

            
        <tbody>
           <tr *ngFor = "let tempFuncion of funciones | paginate: {
            itemsPerPage: 5,
            currentPage: page,
            totalItems: count
          }">  
               <td>{{ tempFuncion.idFunciones }}</td>
               <td>{{ tempFuncion.horaInicio }}</td>
               <td>{{ tempFuncion.horaFin }}</td>
               <td>{{ tempFuncion.pelicula.nombre }}</td>
               <td>{{ tempFuncion.sala.sede.cine.nombre }}</td>
               <td>{{ tempFuncion.sala.nombre }}</td>
               <td>{{ tempFuncion.sala.sede.nombre }}</td>
               <td>{{ tempFuncion.precio }}</td>
               <td>
                <button class="btn btn-outline-secondary" type="button" [routerLink]="['/funcionesWeb/actualizar/', tempFuncion.idFunciones]">Actualizar</button>
                <button class="m-3 btn btn-sm btn-danger" type="button" (click)="borrarFuncion(tempFuncion.idFunciones)">Borrar</button>
                <button class="btn btn-outline-secondary" type="button" (click)="comprarFuncion(tempFuncion)">Comprar</button>
            </td>
           </tr>  
        </tbody>  
    </table>
    
    <pagination-controls
       previousLabel="Anterior"
       nextLabel="Siguiente" 
       (pageChange)="handlePageChange($event)" 
    ></pagination-controls>

   <div align = "right"> 
    <button class="btn btn-lg btn-outline-secondary btn-block" type="button" [routerLink]="'/funcionesWeb/reportes'">Reportes</button>  
    <button   class="btn btn-lg btn-outline-secondary btn-block" type="button" [routerLink]="'/funcionesWeb/crear'">Nueva Funcion</button>
   </div>
   <div align = "center">
    <app-compra-funciones  [funcionesComprar] = "funcionesAComprar"> </app-compra-funciones>
   </div>
   
</div> 
                   