<div class="page-wrapper">

    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar d-none d-lg-block">
      <div class="logo">
        <a href="#">
          <img src="assets/imagenes/logo.jpg" alt="Ticketek" class="img-responsive">
        </a>
      </div>
      <!--Llamando a componente menu-->
      <app-menu-cines></app-menu-cines>
  
    </aside>
    <!-- END MENU SIDEBAR-->
  
    <div class="page-container">
      <!-- HEADER DESKTOP-->
      <header class="header-desktop">
        <div class="section-content section-content-p30">
          <div class="container-fluid">
            <div class="header-wrap">
                <app-buscar-funciones></app-buscar-funciones>
                <app-carrito-estado></app-carrito-estado>    
            </div>
            <div class="account-wrap"></div>
          </div>
        </div>
      </header>
      <!-- END HEADER DESKTOP-->
  
      <!-- MAIN CONTENT-->
      <router-outlet></router-outlet>
  
    </div>
</div>
  
  <!-- ENDS PAGE CONTAINER -->
  
  <footer>
    <ul>
      <li><a href="#">Acerca de nosotros</a></li>
      <li><a href="#">Contactenos</a></li>
      <li><a href="#">Ayuda</a></li>
    </ul>
 </footer> 