<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

            <div *ngIf="funcionesCompradas.length > 0">

                <table class="table table-bordered">
                    <tr>
                        <th width="40%">Funcion Imagen</th>
                        <th width="60%">Funcion Detalle</th>
                    </tr>
                    
                    <tr *ngFor="let item of funcionesCompradas">
                        <td>
                            <img src="../../../assets/images/cinemark.jpg" class="img-responsive" width="150px" />
                        </td>
                        <td>
                            <p>{{ item.pelicula.nombre}}</p>
                            <p>{{ item.precio }}</p>
                        </td>
                        
                    </tr>

                    <tr>
                        <td colspan="1"></td>
                        <td style="font-weight: bold">
                            <p>Cantidad Total: {{ cantidadTotal }}</p>
                            <p>Precio Total: {{ precioTotal | currency: 'USD' }}</p>
                            <a routerLink="/comprar" class="btn btn-primary">Comprar</a>
                        </td>
                    </tr>

                </table>

            </div>

            <!-- if cart is empty then display a message -->
            <div *ngIf="funcionesCompradas.length == 0" class="alert alert-warning col-md-12" role="alert">
                Tu carrito esta vacio 
            </div>

        </div>
    </div>

